.home-container {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 60px); 
  padding: 20px;
  box-sizing: border-box;
}


.main-content {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-right: 2px solid #006633; 
  padding-right: 20px; 
  box-sizing: border-box;
}


.sidebar {
  width: 30%;
  padding-left: 20px;
  box-sizing: border-box;
  background: #111; 
  color: #fff;
}


.game-card {
  background: #222;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  flex: 1 1 calc(33.333% - 20px); 
  min-width: 150px;
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.3s, box-shadow 0.3s;
}

.hover-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 15px #00ff88;
}

.game-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.coming-soon {
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }

  .main-content {
    width: 100%;
    flex-direction: column;
    gap: 15px;
    border-right: none;
    padding-right: 0;
  }

  .sidebar {
    width: 100% !important;
    padding-left: 0 !important;
    margin-top: 20px;
    box-sizing: border-box;
  }

  .game-card {
    flex: 1 1 100%;
  }
}

.sidebar {
  width: 30%;
  padding-left: 20px;
  box-sizing: border-box;
  background: #111; 
  color: #fff;
}

.notifications-container {
  display: flex;
  flex-direction: column-reverse; 
  gap: 10px;
  max-height: 400px; 
  overflow: hidden;
}

.notification-box {
  background: #ae924c; 
  color: #111;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 8px #b8860b;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
